.main {
    padding-top: 100px;
    font-family: 'Roboto Mono', monospace;
}

.page-title {
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

input {
    font-size: 25px;
    margin-top: 25px;
}