{% extends "layout.html" %}
{% block content %}
  {% if entered == password %}
    <div class="container main">

        <h1 class="page-title">send this meme to rida?</h1>

        <img class="meme-image rounded mx-auto d-block" src="../static/images/memes/{{image}}">

        <form action="/send">
          <div class="meme-text-area">
            <input type="text" class="form-control" placeholder="sender" name="sender"></input>
            <textarea style="margin-top: 22px;" class="form-control" placeholder="message" name="message" rows="4"></textarea>
          </div>
          <div class="meme-buttons">
            <!--<button type="button" class="btn btn-dark" onclick="window.location.reload(true);">new meme</button>-->
            <input type="submit" class="btn btn-dark" value="send meme"></input>
            <input type="hidden" name="meme" value="{{image}}" />
          </div>
        </form>
        <button type="button" class="new-button btn btn-dark" onclick="window.location.reload(true);">new meme</button>
    
    </div>
  {% else %}
    <div class="container main">

      <h2 class="page-title">wrong password. you're not meant to be here.</h2>

    </div>
  {% endif %}
{% endblock content %}